<!-- <form
  novalidate
  [formGroup]="passwordResetForm"
  (ngSubmit)="Submit(passwordResetForm.value)"
>

  <input type="password" formControlName="password" />

  <span
    *ngIf="
      passwordResetForm.get('password').hasError('required') &&
      (passwordResetForm.get('password').touched ||
        passwordResetForm.get('password').dirty)
    "
    >Contraseña requerida</span
  >

  <button [disabled]="passwordResetForm.invalid">que me lo mandes</button>
  {{ passwordResetForm.errors | json }}
</form> -->

<div class="contact-form-contra">
  <h4
    style="
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 0 10px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    "
  >
    Cambia tu contraseña
    <hr style="background: cyan" />
  </h4>

  <form
    novalidate
    [formGroup]="passwordResetForm"
    (ngSubmit)="Submit(passwordResetForm.value)"
  >
    <p class="mt-2">Contraseña</p>
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Por Favor No 123456789"
    />

    <div style="border: #21aeeb">
      <span
        *ngIf="
          passwordResetForm.get('password').hasError('required') &&
          (passwordResetForm.get('password').touched ||
            passwordResetForm.get('password').dirty)
        "
        style="color: crimson"
        >Contraseña requerida</span
      >
      <span
        *ngIf="
          passwordResetForm.get('password').hasError('pattern') &&
          passwordResetForm.get('password').dirty
        "
        style="color: rgb(233, 194, 22);font-size: smaller;"
        >La contraseña debe tener al menos entre 6 y 26 caracteres, al menos un
          dígito, al menos una minúscula y al menos una mayúscula.</span
      >
    </div>

    <div class="text-center">
      <div class="d-grid">
        <hr style="background: cyan" />
        <button
          class="btn btn-block btn-dark"
          type="boton"
          [disabled]="passwordResetForm.invalid"
        >
          Cambiar Contraseña
        </button>
      </div>
    </div>
  </form>
</div>
