<form
  novalidate
  [formGroup]="passwordResetForm"
  (ngSubmit)="Submit(passwordResetForm.value)"
>

  <input type="password" formControlName="password" />

  <span
    *ngIf="
      passwordResetForm.get('password').hasError('required') &&
      (passwordResetForm.get('password').touched ||
        passwordResetForm.get('password').dirty)
    "
    >Contraseña requerida</span
  >

  <button [disabled]="passwordResetForm.invalid">que me lo mandes</button>
  {{ passwordResetForm.errors | json }}
</form>
