/* <style> */
    .contact-form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 400px;
        height: 500px;
        padding: 80px 40px;
        box-sizing: border-box;
        background: rgba(0, 0, 0, .5);
    }

    .avatar {
        position: absolute;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        top: calc(-80px/2);
        left: calc(50% - 40px);
    }

    .contact-form h2 {
        margin: 0;
        padding: 0 0 20px;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
    }

    .contact-form p {
        margin: 0;
        padding: 0;
        font-weight: bold;
        color: #fff;
    }

    .contact-form input {
        width: 100%;
        margin-bottom: 20px;
    }

    .contact-form input[type="text"],
    .contact-form input[type="password"] {
        border: none;
        border-bottom: 1px solid #fff;
        background: transparent;
        outline: none;
        height: 40px;
        color: #fff;
        font-size: 16px;
    }

    .contact-form input[type="submit"] {
        height: 30px;
        color: #fff;
        font-size: 15px;
        background: #28A745;
        cursor: pointer;
        border-radius: 25px;
        border: none;
        outline: none;
        margin-top: 15%;
    }

    .contact-form a {
        color: #fff;
        font-size: 14px;
        font-weight: bold;
        text-decoration: none;
    }

    input[type="checkbox"] {
        width: 20%;
    }
/* </style> */