/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif, "Nerko One", cursive;
}
.blur {
    margin: 0;
    padding: 0;
}

.blur:before {
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/img/fondo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-filter: blur(6px);
    -moz-filter: blur(6px);
    -o-filter: blur(6px);
    -ms-filter: blur(6px);
    filter: blur(6px);
}