<div class="container">
  <div class="text-center">
    <div class="alert text-center bg-light mt-1 p-0" role="alert">
      <h1>¡Oh No!</h1>
      <br />
      <p>
        No se encuentra en
        <a
          href="/"
          class="btn btn-md my-0 p"
          style="background-color: #51bbe9; color: #ffff"
        >
          To
          <img
            src="../../../assets/img/2x/outline_done_all_black_18dp.png"
            class="icon img-fluid"
            style="background-color: #fff; height: 30px; border-radius: 50px"
          />
          Do
        </a>
      </p>

      <img
        class="rounded mx-auto d-block img-fluid mt-1"
        style="height: 550px; z-index: 1; border-radius: 100px"
        src="../../../assets/img/404.jpg"
        alt="Imagen de error 404"
      />
    </div>
  </div>
</div>
