<div class="container p-0">
  <div class="row mt-5">
    <!-- Inicio de card -->
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-12 col-md-6 col-lg-3">
      <div class="card">
        <div class="card-header px-4 pt-4">
          <div class="card-actions float-right"></div>
          <div class="input-group">
            <div class="input-group-text me-2">
              <h5 class="card-title mb-0">Ir al Super</h5>
            </div>
            <input
              class="form-check-input mt-0"
              style="height: auto"
              type="checkbox"
              value=""
              aria-label="Checkbox for following text input"
            />
          </div>
        </div>
        <div class="card-body px-4 pt-2">
          <p>
            Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem
            quam semper libero, sit amet adipiscing sem neque sed ipsum.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item px-4 pb-4">
            <a
              class="btn"
              style="background-color: #51bbe9; color: #ffff"
              href=""
            >
              <i class="fas fa-edit"></i> Editar
            </a>

            <button name="eliminar_producto" class="m-1 btn btn-danger">
              <i class="fa fa-trash" aria-hidden="true"></i> Borrar
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
