
<div class="card text-center position-absolute top-50 start-50 translate-middle" style="width: 18rem; height: 28rem; border-color: #51bbe9">
    <h2 class="text-muted">Agregar Tarea</h2>
    <div class="container">
        <div class="row">
          <div class="col-sm mt-1">
            <input
              type="text"
              class="form-control"
              placeholder="Recipient's username"
              aria-label="Recipient's username"
              aria-describedby="button-addon2"
            />
          </div>
          <div class="w-100 d-none d-md-block"></div>

          <div class="col-sm">
            <textarea
              class="mt-2 form-control"
              aria-label="With textarea"
            ></textarea>
          </div>
          <div class="w-100 d-none d-md-block"></div>

          <div class="col-6 col-sm text-center">
            <a
              class="m-1 btn btn-outline-light"
              style="background-color: #51bbe9; border: 0"
              href=""
            >
              <i class="far fa-save" style="font-size: 1.5em"></i> Guardar
            </a>
          </div>
        </div>
      </div>
</div>