<form
  novalidate
  [formGroup]="emailResetForm"
  (ngSubmit)="Submit(emailResetForm.value)"
>
  <input type="email" formControlName="email" />

  <span *ngIf="emailResetForm.get('email').hasError('email')"
    >Correo electrónico invalido</span
  >

  <span
    *ngIf="
      emailResetForm.get('email').hasError('required') &&
      (emailResetForm.get('email').touched || emailResetForm.get('email').dirty)
    "
    >Correo electrónico requerido</span
  >

  <button [disabled]="emailResetForm.invalid">Mandamelo</button>
  {{ emailResetForm.errors | json }}
</form>
