<!-- <form
  novalidate
  [formGroup]="emailResetForm"
  (ngSubmit)="Submit(emailResetForm.value)"
>
  <input type="email" formControlName="email" />

  <span *ngIf="emailResetForm.get('email').hasError('email')"
    >Correo electrónico invalido</span
  >

  <span
    *ngIf="
      emailResetForm.get('email').hasError('required') &&
      (emailResetForm.get('email').touched || emailResetForm.get('email').dirty)
    "
    >Correo electrónico requerido</span
  >

  <button [disabled]="emailResetForm.invalid">Mandamelo</button>
  {{ emailResetForm.errors | json }}
</form> -->

<div class="contact-form-contra">
  <h4
    style="
      margin-top: 0;
      margin-bottom: 0;
      padding: 0 0 10px;
      color: #fff;
      text-align: center;
      text-transform: uppercase;
    "
  >
    ¿Olvidaste tu contraseña?
    <hr style="background: cyan" />
  </h4>

  <form
    novalidate
    [formGroup]="emailResetForm"
    (ngSubmit)="Submit(emailResetForm.value)"
  >
    <p>Correo</p>
    <input
      name="email"
      type="text"
      formControlName="email"
      placeholder="Alguien@correo.com"
    />

    <div style="border: #21aeeb">
      <span
        *ngIf="emailResetForm.get('email').hasError('email')"
        style="color: crimson"
        >Correo electrónico invalido</span
      >
      <span
        *ngIf="
          emailResetForm.get('email').hasError('required') &&
          (emailResetForm.get('email').touched ||
            emailResetForm.get('email').dirty)
        "
        style="color: crimson"
        >Correo electrónico requerido</span
      >
    </div>

    <div class="text-center">
      <div class="d-grid">
        <h6
          style="margin: 0; padding: 0 0 10px; color: #fff; text-align: center"
        >
          ¡Ya Recordé!
        </h6>
        <h2><a [routerLink]="['/login']">Regrésame</a></h2>
        <hr style="background: cyan" />
        <button
          class="btn btn-block btn-dark"
          type="boton"
          [disabled]="emailResetForm.invalid"
        >
          Enviar Correo
        </button>
      </div>
    </div>
  </form>
</div>
